# Environments
.env
venv/
.venv/

# Python
__pycache__/
*.pyc

# IDEs
.idea/
.vscode/

# Build artifacts
build/
dist/
*.zip
*.tar.gz

# Database and logs
app.db
server.log

# Uploads and temporary files
uploads/
logs/
tmp/